body {
    background-color: #121212;
    margin: 0;
    text-align: center;
}

.topbar {
    padding: 15px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background: #121212;
}

.topbar input {
    width: 100%;
    box-sizing: border-box;
    font-size: 19px;
    outline: none;
    border: none;
    border-radius: 25px;
    padding: 7px 43px 7px 17px;
    background-color: #333;
    color: #fff;
}

.topbar button {
    position: absolute;
    font-size: 19px;
    padding: 6px 13px 6px 5px;
    top: 15px;
    right: 15px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    background-color: transparent;
}

.topbar button span {
    display: block;
}

.list {
    padding: 0 10px 10px;
    display: flex;
}

.image {
    padding: 5px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: #333;
    display: block;
}

.end {
    display: inline-block;
    font-size: 17px;
    color: #fff;
    padding: 15px 5px 10px 5px;
    font-family: Arial, sans-serif;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 63px;
    height: 30px;
}

.lds-ellipsis div {
    position: absolute;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}
  
.lds-ellipsis div:nth-child(2) {
    left: 3px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 24px;
    animation: lds-ellipsis2 0.6s infinite;
}
  
.lds-ellipsis div:nth-child(4) {
    left: 42px;
    animation: lds-ellipsis3 0.6s infinite;
}
  
@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
  
@keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}
  
@keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
}